.boardContainer {
    --board-gap: 10px;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: var(--board-gap);
    background-color: var(--board-bg);

    height: 100dvh;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.boardContainer tbody td {
    padding: 0;
    font-size: clamp(2rem, 4.5vw, 4.5rem);
}

.boardEmptyCell {
    background-color: transparent;
}

